<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration threshold="all" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--  Appenders  -->
	<!-- Log to standard output -->
	<appender name="orplog" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="[%p] %C: %m%n" />
		</layout>
	</appender>
	<!-- Log to application-specific file
	<appender name="orplog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/orp/application.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %C [%p]: %m%n" />
		</layout>
	</appender> -->

	<!-- Loggers -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="orplog" />
	</root>
	<!--  some specific loggers -->
	<logger name="esg">
		<level value="INFO" />
	</logger>
	<logger name="org.openid4java">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.security">
		<level value="INFO" />
	</logger>
	<logger name="org.opensaml">
		<level value="INFO" />
	</logger>

</log4j:configuration>